<!-- <div style="width:600px;height:600px">
    <chart class="dashchart" [type]="type" [data]="data" 
    [options]="options"></chart>
</div> -->
<div class="container-fluid">
<div class="row marl100 mart60">
    <div class="col m6 s12 mart10">
        <div class="mat-elevation-z4 white dashh1">
            <div class="row dashrowfix">
                <div class="col m6 s12 martneg10">
                    <h5 class="white-text">Line Charts</h5>
                </div>
                <div class="col m6 s12 martneg10">
                    <h5 class="white-text right"></h5>
                </div>
            </div>
            <div class="white">
                <chart class="dashchart" [type]="type" [data]="data" [options]="options"></chart>
            </div>
        </div>
    </div> 
</div>